soa-infra_MDS/deployed-composites/tst/Test_Composite_rev1.0/Test_BPEL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="Test_BPEL" targetNamespace="http://xmlns.oracle.com/Application1/Project1/Test_BPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/Application1/Project1/Test_BPEL" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://xmlns.oracle.com/Application1/Project1/Test_BPEL" schemaLocation="xsd/Test_BPEL.xsd"/>
</schema>
</wsdl:types>
<wsdl:message name="Test_BPELRequestMessage">
<wsdl:part name="payload" element="client:process"/>
</wsdl:message>
<wsdl:message name="Test_BPELResponseMessage">
<wsdl:part name="payload" element="client:processResponse"/>
</wsdl:message>
<wsdl:portType name="Test_BPEL">
<wsdl:operation name="process">
<wsdl:input message="client:Test_BPELRequestMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="Test_BPELCallback">
<wsdl:operation name="processResponse">
<wsdl:input message="client:Test_BPELResponseMessage"/>
</wsdl:operation>
</wsdl:portType>
<plnk:partnerLinkType name="Test_BPEL">
<plnk:role name="Test_BPELProvider">
<plnk:portType name="client:Test_BPEL"/>
</plnk:role>
<plnk:role name="Test_BPELRequester">
<plnk:portType name="client:Test_BPELCallback"/>
</plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
