soa-infra_MDS/soa/b2b/seed/ACK-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Automatically generated by EDIFECS SpecBuilder (http://www.edifecs.com) -->
<xsd:schema xmlns="urn:oracle:integration:b2b:E4B48BA0313747BAAE51421044F0F980" targetNamespace="urn:oracle:integration:b2b:E4B48BA0313747BAAE51421044F0F980" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo>
			<FileName>C:\Documents and Settings\nitesjai\Desktop\Xengine\checkIn\ci_files\seed\ACK-2.1.ecs</FileName>
			<InternalID>{37DC0914-1AB0-485B-AAFC-577B8FEFEA01}</InternalID>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="ACK_A05" type="ACK_A05.CONTENT"/>
	<xsd:complexType name="ACK_A05.CONTENT">
		<xsd:annotation>
			<xsd:documentation>A patient may be pre-admitted for a variety of reasons; e.g. prior to surgery so that they will be able to receive tests administered in the lab. The data may be entered into the surgery scheduling system and passed to the ADT system.
ADT ADT Message Chapter
MSH Message Header II
EVN Event Type III
PID Patient Identification III
NK1 Next of Kin VI
PV1 Patient Visit III
[ DG1 ] Diagnosis Information VI
ACK General Acknowledgement Chapter
MSH Message Header II
MSA Message Acknowledgement II
[ ERR ] Error Information II</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Internal-Properties" type="Internal-Properties" minOccurs="0"/>
			<xsd:element name="MSH" type="MSH.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSA" type="MSA.CONTENT" maxOccurs="2"/>
			<xsd:element name="ERR" type="ERR.CONTENT" minOccurs="0" maxOccurs="2"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Message" type="xsd:string"/>
		<xsd:attribute name="XDataVersion" fixed="2.0" type="xsd:string"/>
		<xsd:attribute name="Standard" fixed="HL7" use="required" type="xsd:string"/>
		<xsd:attribute name="Version" fixed="2.1" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
		<xsd:attribute name="CreatedBy" type="xsd:string"/>
		<xsd:attribute name="CreatedDate" type="xsd:string"/>
		<xsd:attribute name="ID" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="Pre-admit a Patient" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Internal-Properties">
		<xsd:sequence>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Data-Structure">
		<xsd:sequence>
			<xsd:element name="Lookup" type="Lookup" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
	</xsd:complexType>
	<xsd:complexType name="Lookup">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Property">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MSH.CONTENT">
		<xsd:annotation>
			<xsd:documentation>The MSH segment defines the intent, source, destination, and some specifics of the syntax of a message. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MSH.1" type="MSH.1.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSH.2" type="MSH.2.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSH.3" type="MSH.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSH.4" type="MSH.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSH.5" type="MSH.5.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSH.6" type="MSH.6.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSH.7" type="MSH.7.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSH.8" type="MSH.8.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSH.9" type="MSH.9.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSH.10" type="MSH.10.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSH.11" type="MSH.11.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSH.12" type="MSH.12.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSH.13" type="MSH.13.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSH.14" type="MSH.14.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="MSH" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="MESSAGE HEADER" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MSH.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00005" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="FIELD SEPARATOR" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00509" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="ENCODING CHARACTERS" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.3.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00006" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="SENDING APPLICATION" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.4.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00512" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="SENDING FACILITY" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.5.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00009" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="RECEIVING APPLICATION" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.6.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00513" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="RECEIVING FACILITY" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.7.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="TS">
				<xsd:attribute name="Item" fixed="00010" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="TS" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="DATE/TIME OF MESSAGE" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.8.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00008" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="Security" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.9.CONTENT">
		<xsd:complexContent>
			<xsd:restriction base="CM_MSG">
				<xsd:sequence>
					<xsd:element name="CM_MSG.1" type="CM_MSG.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CM_MSG.2" type="CM_MSG.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
				</xsd:sequence>
				<xsd:attribute name="Item" fixed="00012" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="CM_MSG" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="MESSAGE TYPE" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.10.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00013" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="MESSAGE CONTROL ID" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.11.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:attribute name="Item" fixed="00014" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="PROCESSING ID" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.12.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="NM">
				<xsd:attribute name="Item" fixed="00015" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="NM" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="VERSION ID" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.13.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="NM">
				<xsd:attribute name="Item" fixed="00633" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="NM" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="SEQUENCE NUMBER" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSH.14.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:attribute name="Item" fixed="00699" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="CONTINUATION POINTER" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSA.CONTENT">
		<xsd:annotation>
			<xsd:documentation>The MSA segment contains information sent while acknowledging another message. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MSA.1" type="MSA.1.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSA.2" type="MSA.2.CONTENT" maxOccurs="2"/>
			<xsd:element name="MSA.3" type="MSA.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSA.4" type="MSA.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="MSA.5" type="MSA.5.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="MSA" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="MESSAGE ACKNOWLEDGMENT" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MSA.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:enumeration value="&quot;&quot;"/>
				<xsd:enumeration value="AA"/>
				<xsd:enumeration value="AR"/>
				<xsd:attribute name="Item" fixed="00002" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="ACKNOWLEDGMENT CODE" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSA.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="20"/>
				<xsd:attribute name="Item" fixed="00003" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="MESSAGE CONTROL ID" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSA.3.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="80"/>
				<xsd:attribute name="Item" fixed="00004" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="TEXT MESSAGE" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSA.4.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="NM">
				<xsd:maxLength value="15"/>
				<xsd:attribute name="Item" fixed="00598" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="NM" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="EXPECTED SEQUENCE NUMBER" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MSA.5.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:enumeration value="&quot;&quot;"/>
				<xsd:enumeration value="D"/>
				<xsd:attribute name="Item" fixed="00632" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="DELAYED ACKNOWLEDGMENT TYPE" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ERR.CONTENT">
		<xsd:annotation>
			<xsd:documentation>The ERR segment is used to add error comments to acknowledgment messages. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ERR.1" type="ERR.1.CONTENT" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="ERR" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="ERROR" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ERR.1.CONTENT">
		<xsd:complexContent>
			<xsd:restriction base="CM_ELD">
				<xsd:sequence>
					<xsd:element name="CM_ELD.1" type="CM_ELD.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CM_ELD.2" type="CM_ELD.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CM_ELD.3" type="CM_ELD.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CM_ELD.4" type="CM_ELD.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
				</xsd:sequence>
				<xsd:attribute name="Item" fixed="00080" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="CM_ELD" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="ERROR CODE AND LOCATION" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AD">
		<xsd:annotation>
			<xsd:documentation>Has the following components separated by the component separator: street address, other designation, city, state or province, zip, country. For use within the United States, state or province should be represented by the official US Postal service two-letter codes. For use within the United States, zip takes the form 99999[-9999]. For use within the United States, the country code is assumed to be USA if null. Example:
|10 ASH LN^#3^LIMA^OH^48132^&quot;&quot;^|</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AD.1" type="AD.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="AD.2" type="AD.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="AD.3" type="AD.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="AD.4" type="AD.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="AD.5" type="AD.5.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="AD.6" type="AD.6.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Item" type="xsd:string"/>
		<xsd:attribute name="Type" type="xsd:string"/>
		<xsd:attribute name="LongName" type="xsd:string"/>
		<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="AD.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="27" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="street address" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AD.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="28" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="other designation" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AD.3.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="10" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="city" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AD.4.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="30" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="state or province" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AD.5.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="31" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="zip or postal code" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AD.6.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="14" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="country" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE">
		<xsd:sequence>
			<xsd:element name="CE.1" type="CE.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE.2" type="CE.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE.3" type="CE.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE.4" type="CE.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE.5" type="CE.5.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE.6" type="CE.6.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Item" type="xsd:string"/>
		<xsd:attribute name="Type" type="xsd:string"/>
		<xsd:attribute name="LongName" type="xsd:string"/>
		<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CE.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90008" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="identifier" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90009" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="text" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE.3.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90010" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="name of coding system" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE.4.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90011" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="alternate identifier" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE.5.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90012" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="alternate text" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE.6.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90013" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="name of alternate coding system" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE_0057">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE_OBS">
		<xsd:sequence>
			<xsd:element name="CE_OBS.1" type="CE_OBS.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE_OBS.2" type="CE_OBS.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE_OBS.3" type="CE_OBS.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE_OBS.4" type="CE_OBS.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE_OBS.5" type="CE_OBS.5.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CE_OBS.6" type="CE_OBS.6.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Item" type="xsd:string"/>
		<xsd:attribute name="Type" type="xsd:string"/>
		<xsd:attribute name="LongName" type="xsd:string"/>
		<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CE_OBS.1.CONTENT">
		<xsd:complexContent>
			<xsd:restriction base="CM_OBS">
				<xsd:sequence>
					<xsd:element name="CM_OBS.1" type="CM_OBS.1.CONTENT" maxOccurs="2"/>
					<xsd:element name="CM_OBS.2" type="CM_OBS.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
				</xsd:sequence>
				<xsd:attribute name="Item" fixed="90003" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="CM_OBS" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="identifier" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CE_OBS.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90009" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="text" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE_OBS.3.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90010" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="name of coding system" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE_OBS.4.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90011" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="alternate identifier" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE_OBS.5.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90012" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="alternate text" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CE_OBS.6.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90013" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="name of alternate coding system" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CK">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_ELD">
		<xsd:sequence>
			<xsd:element name="CM_ELD.1" type="CM_ELD.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CM_ELD.2" type="CM_ELD.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CM_ELD.3" type="CM_ELD.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CM_ELD.4" type="CM_ELD.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Item" type="xsd:string"/>
		<xsd:attribute name="Type" type="xsd:string"/>
		<xsd:attribute name="LongName" type="xsd:string"/>
		<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CM_ELD.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90004" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="Segment-ID" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_ELD.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="NM">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90005" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="NM" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="Sequence" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_ELD.3.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="NM">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90006" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="NM" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="Field-Position" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_ELD.4.CONTENT">
		<xsd:complexContent>
			<xsd:restriction base="CE">
				<xsd:sequence>
					<xsd:element name="CE.1" type="CE.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CE.2" type="CE.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CE.3" type="CE.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CE.4" type="CE.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CE.5" type="CE.5.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
					<xsd:element name="CE.6" type="CE.6.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
				</xsd:sequence>
				<xsd:attribute name="Item" fixed="90007" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="CE" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="code identifying error " type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CM_MSG">
		<xsd:sequence>
			<xsd:element name="CM_MSG.1" type="CM_MSG.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="CM_MSG.2" type="CM_MSG.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Item" type="xsd:string"/>
		<xsd:attribute name="Type" type="xsd:string"/>
		<xsd:attribute name="LongName" type="xsd:string"/>
		<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CM_MSG.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:enumeration value="&quot;&quot;"/>
				<xsd:enumeration value="ACK"/>
				<xsd:enumeration value="ADT"/>
				<xsd:enumeration value="ARD"/>
				<xsd:enumeration value="BAR"/>
				<xsd:enumeration value="DFT"/>
				<xsd:enumeration value="DSR"/>
				<xsd:enumeration value="MCF"/>
				<xsd:enumeration value="OCF"/>
				<xsd:enumeration value="ORF"/>
				<xsd:enumeration value="ORM"/>
				<xsd:enumeration value="ORR"/>
				<xsd:enumeration value="ORU"/>
				<xsd:enumeration value="OSQ"/>
				<xsd:enumeration value="QRY"/>
				<xsd:enumeration value="UDM"/>
				<xsd:attribute name="Item" fixed="15" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="MESSAGE TYPE" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_MSG.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:enumeration value="&quot;&quot;"/>
				<xsd:enumeration value="A01"/>
				<xsd:enumeration value="A02"/>
				<xsd:enumeration value="A03"/>
				<xsd:enumeration value="A04"/>
				<xsd:enumeration value="A05"/>
				<xsd:enumeration value="A06"/>
				<xsd:enumeration value="A07"/>
				<xsd:enumeration value="A08"/>
				<xsd:enumeration value="A09"/>
				<xsd:enumeration value="A10"/>
				<xsd:enumeration value="A11"/>
				<xsd:enumeration value="A12"/>
				<xsd:enumeration value="A13"/>
				<xsd:enumeration value="A14"/>
				<xsd:enumeration value="A15"/>
				<xsd:enumeration value="A16"/>
				<xsd:enumeration value="A17"/>
				<xsd:enumeration value="A18"/>
				<xsd:enumeration value="A20"/>
				<xsd:enumeration value="A21"/>
				<xsd:enumeration value="A22"/>
				<xsd:enumeration value="A23"/>
				<xsd:enumeration value="A24"/>
				<xsd:enumeration value="O02"/>
				<xsd:enumeration value="P01"/>
				<xsd:enumeration value="P03"/>
				<xsd:enumeration value="P04"/>
				<xsd:enumeration value="Q02"/>
				<xsd:enumeration value="R01"/>
				<xsd:enumeration value="R03"/>
				<xsd:attribute name="Item" fixed="90014" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="Trigger Event" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_OBS">
		<xsd:sequence>
			<xsd:element name="CM_OBS.1" type="CM_OBS.1.CONTENT" maxOccurs="2"/>
			<xsd:element name="CM_OBS.2" type="CM_OBS.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Item" type="xsd:string"/>
		<xsd:attribute name="Type" type="xsd:string"/>
		<xsd:attribute name="LongName" type="xsd:string"/>
		<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="CM_OBS.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="144" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="Klinik" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_OBS.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ID">
				<xsd:maxLength value="65536"/>
				<xsd:attribute name="Item" fixed="90001" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="observation ID suffix" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CM_UNDEFINED">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CN">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COMP_ID_DIGIT">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COMP_ID_NAME">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COMP_QUANT">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CQ">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DT">
		<xsd:annotation>
			<xsd:documentation>Always in the format YYYYMMDD. Example:
|19880704|</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FT">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ID">
		<xsd:annotation>
			<xsd:documentation>In the form of an ST field.SI Sequence ID. 
In the form of an NM field.Composite fields. 
Composite fields are encoded as described in step (v), above. The following examples of specifically defined composite types are included.
CK Composite ID with check digit: |128952^6^M11|
CN Composite ID number and name:
|12372^RIGGINS^JOHN^&quot;&quot;^MD|
|12372|
|^RIGGINS^JOHN^&quot;&quot;^MD|
CQ Composite quantity with units: |123.7^ML|
CE Coded element 
|54.21^Laparoscopy^I9C^42112^^AS4|</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NM">
		<xsd:annotation>
			<xsd:documentation>Represent as a series of ASCII characters consisting of an optional leading sign (&quot;+&quot; or &quot;-&quot;), the digits and 0 or 1 decimal point. Examples:
|999|
|-123.792|
Leading zeros, or trailing zeros after a decimal point, are not significant. The two values &quot;01.20&quot; and &quot;1.2&quot; are identical.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PN">
		<xsd:annotation>
			<xsd:documentation>Specified as multiple free text components: family name, given name, middle initial or name, suffix (e.g., JR or III), prefix (e.g., DR), and degree (e.g., MD). The maximum length of a PN field is 48 characters including component separators. 
The sending system may send upper and lower case or all upper case. The receiving system may convert to all upper case if required. Example:
|SMITH^JOHN^J^&quot;&quot;^DR^PHD| (note that the suffix is explicitly null rather than &quot;not present.&quot;)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PN.1" type="PN.1.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="PN.2" type="PN.2.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="PN.3" type="PN.3.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="PN.4" type="PN.4.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="PN.5" type="PN.5.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
			<xsd:element name="PN.6" type="PN.6.CONTENT" minOccurs="0" maxOccurs="2" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Item" type="xsd:string"/>
		<xsd:attribute name="Type" type="xsd:string"/>
		<xsd:attribute name="LongName" type="xsd:string"/>
		<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="PN.1.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="48"/>
				<xsd:attribute name="Item" fixed="21" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="familiy name" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PN.2.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="48"/>
				<xsd:attribute name="Item" fixed="22" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="given name" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PN.3.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="48"/>
				<xsd:attribute name="Item" fixed="19" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="middle initial or name" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PN.4.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="48"/>
				<xsd:attribute name="Item" fixed="24" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="suffix (e.g. JR or III)" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PN.5.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="48"/>
				<xsd:attribute name="Item" fixed="25" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="prefix (e.g. DR)" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PN.6.CONTENT">
		<xsd:simpleContent>
			<xsd:restriction base="ST">
				<xsd:maxLength value="48"/>
				<xsd:attribute name="Item" fixed="26" type="xsd:string"/>
				<xsd:attribute name="Type" fixed="ST" type="xsd:string"/>
				<xsd:attribute name="LongName" fixed="degree (e.g. MD)" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SET_ID">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SI">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ST">
		<xsd:annotation>
			<xsd:documentation>String data is left justified with trailing blanks optional. Example: |almost any data at all|TX Text data. 
Leading spaces should be included. Trailing spaces should be removed. See the discussion below on the use of escape sequences in text fields. Example: | leading spaces are allowed.|
FT Formatted text data. 
Differences from text data are: field is of arbitrary length, and contains formatting commands enclosed in escape characters. Example:
|\.sp\(skip one vertical line)|
For additional examples of formatting commands see &quot;Escape Sequences in Text Fields,&quot; below.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TM">
		<xsd:annotation>
			<xsd:documentation>Always in the format HHMM[SS][+/-ZZZZ] using a 24 hour clock notation. The seconds designation (SS) is optional. If not present it will be interpreted as 00. The time zone (+/-ZZZZ) is optional. If not otherwise specified it is local time zone of the sender. Midnight is represented as 0000. Examples:
|235959+1130| 1 second before midnight in a time zone eleven and half hours ahead of Universal Coordinated Time (i.e., east of Greenwich).
|0800| eight AM, local time of the sender.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TN">
		<xsd:annotation>
			<xsd:documentation>For use in the United States and conforming countries, the telephone number is always in the form: [NN] [(999)]999-9999[X99999][B99999][C any text]
The optional first two digits are the country code. The optional 'X' portion gives an extension. The optional 'B' portion gives a beeper code. The optional 'C' portion may be used for comments like &quot;After 6:00.&quot; While no explicit limit is placed on the text field, receiving systems may be expected to truncate values that are more than 10 characters long. Examples: 
|(415)925-0121X305|
|234-4532CWEEKENDS|</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TS">
		<xsd:annotation>
			<xsd:documentation>Always in the format
YYYYMMDDHHMM[SS][+/ZZZZ]. 
The seconds designation (SS) is optional. If not present it will be interpreted as 00. The time zone (+/-ZZZZ) is optional. If it is present either the &quot;+&quot; or the &quot;-&quot; sign must be included, but not both. Midnight is represented as the time 0000 combined with the date of the day that is just beginning. The maximum length of a TS field is 19 characters.
Examples:
|17760704010159-0600| 1:01:59 on July 4, 1776 in the Eastern Standard Time zone.
|17760704010159-0500| 1:01:59 on July 4, 1776 in the Eastern Daylight Saving Time zone.
|198807050000| Midnight of the night extending from July 4 to July 5, 1988 in the local time zone of the sender. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TX">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Item" type="xsd:string"/>
				<xsd:attribute name="Type" type="xsd:string"/>
				<xsd:attribute name="LongName" type="xsd:string"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>