soa-infra_MDS/soa/b2b/seed/CONTRL-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Automatically generated by EDIFECS SpecBuilder (http://www.edifecs.com) -->
<xsd:schema xmlns="urn:oracle:integration:b2b:1FEC7ABB0E4F4709AB0D954126780010" targetNamespace="urn:oracle:integration:b2b:1FEC7ABB0E4F4709AB0D954126780010" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:element name="Transaction-CONTRL">
		<xsd:annotation>
			<xsd:documentation>Release V4R1: Syntax and service report message for batch EDI</xsd:documentation>
			<xsd:documentation>CONTRL is a message syntactically acknowledging or rejecting, with error indication, a received interchange, group, message, or package. A CONTRL message shall be used to: a)  acknowledge or reject a received interchange, group, message, or package and list any syntactical errors or unsupported functionality contained therein, or b)  indicate only the receipt of an interchange. DEPENDENCY NOTE: D4(0030, 0080)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Internal-Properties" minOccurs="0"/>
				<xsd:element ref="Segment-UNH"/>
				<xsd:element ref="Segment-UCI"/>
				<xsd:element ref="Loop-Group_1" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Loop-Group_3" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Segment-UNT"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="Release V4R1: Syntax and service report message for batch EDI" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="CONTRL" type="xsd:string"/>
			<xsd:attribute name="Type" default="Transaction" type="xsd:string"/>
			<xsd:attribute name="XDataVersion" fixed="1.0" type="xsd:string"/>
			<xsd:attribute name="Standard" fixed="EDIFACT" use="required" type="xsd:string"/>
			<xsd:attribute name="Version" default="4.1" type="xsd:string"/>
			<xsd:attribute name="GUID" type="GUID"/>
			<xsd:attribute name="CreatedBy" type="xsd:string"/>
			<xsd:attribute name="CreatedDate" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EDI-Element-String-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Integer-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Decimal-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-hexBinary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:hexBinary">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-base64Binary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Any-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Internal-Properties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Data-Structure">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Lookup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Property" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Name" type="xsd:string"/>
			<xsd:attribute name="GUID" type="GUID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Lookup">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Name" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Property">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Name" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Segment-UNH">
		<xsd:annotation>
			<xsd:documentation>MESSAGE HEADER</xsd:documentation>
			<xsd:documentation>To head, identify and specify a message. Data element S009/0057 is retained for upward compatibility. The use of S016 and/or S017 is encouraged in preference. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0062"/>
				<xsd:element ref="Composite-S009"/>
				<xsd:element ref="Element-0068" minOccurs="0"/>
				<xsd:element ref="Composite-S010" minOccurs="0"/>
				<xsd:element ref="Composite-S016" minOccurs="0"/>
				<xsd:element ref="Composite-S017" minOccurs="0"/>
				<xsd:element ref="Composite-S018" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE HEADER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UNH" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0062">
		<xsd:annotation>
			<xsd:documentation>Message reference number</xsd:documentation>
			<xsd:documentation>Unique message reference assigned by the sender.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message reference number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0062" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S009">
		<xsd:annotation>
			<xsd:documentation>MESSAGE IDENTIFIER</xsd:documentation>
			<xsd:documentation>Identification of the type, version, etc. of the message being interchanged.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0065"/>
				<xsd:element ref="Element-0052"/>
				<xsd:element ref="Element-0054"/>
				<xsd:element ref="Element-0051"/>
				<xsd:element ref="Element-0057" minOccurs="0"/>
				<xsd:element ref="Element-0110" minOccurs="0"/>
				<xsd:element ref="Element-0113" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE IDENTIFIER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S009" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0065">
		<xsd:annotation>
			<xsd:documentation>Message type</xsd:documentation>
			<xsd:documentation>Code identifying a type of message and assigned by its controlling agency. Note 1: In UNSMs (United Nations Standard Messages), the representation is a6.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="APERAK"/>
					<xsd:enumeration value="AUTACK"/>
					<xsd:enumeration value="AUTHOR"/>
					<xsd:enumeration value="AVLREQ"/>
					<xsd:enumeration value="AVLRSP"/>
					<xsd:enumeration value="BALANC"/>
					<xsd:enumeration value="BANSTA"/>
					<xsd:enumeration value="BAPLIE"/>
					<xsd:enumeration value="BERMAN"/>
					<xsd:enumeration value="BMISRM"/>
					<xsd:enumeration value="BOPBNK"/>
					<xsd:enumeration value="BOPCUS"/>
					<xsd:enumeration value="BOPDIR"/>
					<xsd:enumeration value="BOPINF"/>
					<xsd:enumeration value="BUSCRD"/>
					<xsd:enumeration value="CALINF"/>
					<xsd:enumeration value="CASINT"/>
					<xsd:enumeration value="CASRES"/>
					<xsd:enumeration value="CHACCO"/>
					<xsd:enumeration value="CLASET"/>
					<xsd:enumeration value="CNTCND"/>
					<xsd:enumeration value="COACSU"/>
					<xsd:enumeration value="COARRI"/>
					<xsd:enumeration value="CODECO"/>
					<xsd:enumeration value="CODENO"/>
					<xsd:enumeration value="COEDOR"/>
					<xsd:enumeration value="COHAOR"/>
					<xsd:enumeration value="COLREQ"/>
					<xsd:enumeration value="COMDIS"/>
					<xsd:enumeration value="CONAPW"/>
					<xsd:enumeration value="CONDPV"/>
					<xsd:enumeration value="CONDRA"/>
					<xsd:enumeration value="CONDRO"/>
					<xsd:enumeration value="CONEST"/>
					<xsd:enumeration value="CONITT"/>
					<xsd:enumeration value="CONPVA"/>
					<xsd:enumeration value="CONQVA"/>
					<xsd:enumeration value="CONRPW"/>
					<xsd:enumeration value="CONTEN"/>
					<xsd:enumeration value="CONTRL"/>
					<xsd:enumeration value="CONWQD"/>
					<xsd:enumeration value="COPARN"/>
					<xsd:enumeration value="COPAYM"/>
					<xsd:enumeration value="COPINO"/>
					<xsd:enumeration value="COPRAR"/>
					<xsd:enumeration value="COREOR"/>
					<xsd:enumeration value="COSTCO"/>
					<xsd:enumeration value="COSTOR"/>
					<xsd:enumeration value="CREADV"/>
					<xsd:enumeration value="CREEXT"/>
					<xsd:enumeration value="CREMUL"/>
					<xsd:enumeration value="CUSCAR"/>
					<xsd:enumeration value="CUSDEC"/>
					<xsd:enumeration value="CUSEXP"/>
					<xsd:enumeration value="CUSPED"/>
					<xsd:enumeration value="CUSREP"/>
					<xsd:enumeration value="CUSRES"/>
					<xsd:enumeration value="DEBADV"/>
					<xsd:enumeration value="DEBMUL"/>
					<xsd:enumeration value="DEBREC"/>
					<xsd:enumeration value="DELFOR"/>
					<xsd:enumeration value="DELJIT"/>
					<xsd:enumeration value="DESADV"/>
					<xsd:enumeration value="DESTIM"/>
					<xsd:enumeration value="DGRECA"/>
					<xsd:enumeration value="DIRDEB"/>
					<xsd:enumeration value="DIRDEF"/>
					<xsd:enumeration value="DMRDEF"/>
					<xsd:enumeration value="DMSTAT"/>
					<xsd:enumeration value="DOCADV"/>
					<xsd:enumeration value="DOCAMA"/>
					<xsd:enumeration value="DOCAMI"/>
					<xsd:enumeration value="DOCAMR"/>
					<xsd:enumeration value="DOCAPP"/>
					<xsd:enumeration value="DOCARE"/>
					<xsd:enumeration value="DOCINF"/>
					<xsd:enumeration value="ENTREC"/>
					<xsd:enumeration value="FINCAN"/>
					<xsd:enumeration value="FINPAY"/>
					<xsd:enumeration value="FINSTA"/>
					<xsd:enumeration value="GENRAL"/>
					<xsd:enumeration value="GESMES"/>
					<xsd:enumeration value="HANMOV"/>
					<xsd:enumeration value="ICASRP"/>
					<xsd:enumeration value="ICSOLI"/>
					<xsd:enumeration value="IFCSUM"/>
					<xsd:enumeration value="IFTCCA"/>
					<xsd:enumeration value="IFTDGN"/>
					<xsd:enumeration value="IFTFCC"/>
					<xsd:enumeration value="IFTICL"/>
					<xsd:enumeration value="IFTMAN"/>
					<xsd:enumeration value="IFTMBC"/>
					<xsd:enumeration value="IFTMBF"/>
					<xsd:enumeration value="IFTMBP"/>
					<xsd:enumeration value="IFTMCA"/>
					<xsd:enumeration value="IFTMCS"/>
					<xsd:enumeration value="IFTMIN"/>
					<xsd:enumeration value="IFTRIN"/>
					<xsd:enumeration value="IFTSAI"/>
					<xsd:enumeration value="IFTSTA"/>
					<xsd:enumeration value="IFTSTQ"/>
					<xsd:enumeration value="IHCEBI"/>
					<xsd:enumeration value="IHCLME"/>
					<xsd:enumeration value="IMPDEF"/>
					<xsd:enumeration value="INFCON"/>
					<xsd:enumeration value="INFENT"/>
					<xsd:enumeration value="INSDES"/>
					<xsd:enumeration value="INSPRE"/>
					<xsd:enumeration value="INSREQ"/>
					<xsd:enumeration value="INSRPT"/>
					<xsd:enumeration value="INVOIC"/>
					<xsd:enumeration value="INVRPT"/>
					<xsd:enumeration value="IPPOAD"/>
					<xsd:enumeration value="IPPOMO"/>
					<xsd:enumeration value="ISENDS"/>
					<xsd:enumeration value="ITRRPT"/>
					<xsd:enumeration value="JAPRES"/>
					<xsd:enumeration value="JINFDE"/>
					<xsd:enumeration value="JOBAPP"/>
					<xsd:enumeration value="JOBCON"/>
					<xsd:enumeration value="JOBMOD"/>
					<xsd:enumeration value="JOBOFF"/>
					<xsd:enumeration value="JUPREQ"/>
					<xsd:enumeration value="KEYMAN"/>
					<xsd:enumeration value="LEDGER"/>
					<xsd:enumeration value="LREACT"/>
					<xsd:enumeration value="LRECLM"/>
					<xsd:enumeration value="MEDPID"/>
					<xsd:enumeration value="MEDPRE"/>
					<xsd:enumeration value="MEDREQ"/>
					<xsd:enumeration value="MEDRPT"/>
					<xsd:enumeration value="MEDRUC"/>
					<xsd:enumeration value="MEQPOS"/>
					<xsd:enumeration value="MOVINS"/>
					<xsd:enumeration value="MSCONS"/>
					<xsd:enumeration value="ORDCHG"/>
					<xsd:enumeration value="ORDERS"/>
					<xsd:enumeration value="ORDRSP"/>
					<xsd:enumeration value="OSTENQ"/>
					<xsd:enumeration value="OSTRPT"/>
					<xsd:enumeration value="PARTIN"/>
					<xsd:enumeration value="PASREQ"/>
					<xsd:enumeration value="PASRSP"/>
					<xsd:enumeration value="PAXLST"/>
					<xsd:enumeration value="PAYDUC"/>
					<xsd:enumeration value="PAYEXT"/>
					<xsd:enumeration value="PAYMUL"/>
					<xsd:enumeration value="PAYORD"/>
					<xsd:enumeration value="PRICAT"/>
					<xsd:enumeration value="PRIHIS"/>
					<xsd:enumeration value="PROCST"/>
					<xsd:enumeration value="PRODAT"/>
					<xsd:enumeration value="PRODEX"/>
					<xsd:enumeration value="PROINQ"/>
					<xsd:enumeration value="PROSRV"/>
					<xsd:enumeration value="PROTAP"/>
					<xsd:enumeration value="PRPAID"/>
					<xsd:enumeration value="QALITY"/>
					<xsd:enumeration value="QUOTES"/>
					<xsd:enumeration value="RDRMES"/>
					<xsd:enumeration value="REBORD"/>
					<xsd:enumeration value="RECADV"/>
					<xsd:enumeration value="RECALC"/>
					<xsd:enumeration value="RECECO"/>
					<xsd:enumeration value="RECLAM"/>
					<xsd:enumeration value="RECORD"/>
					<xsd:enumeration value="REGENT"/>
					<xsd:enumeration value="RELIST"/>
					<xsd:enumeration value="REMADV"/>
					<xsd:enumeration value="REPREM"/>
					<xsd:enumeration value="REQDOC"/>
					<xsd:enumeration value="REQOTE"/>
					<xsd:enumeration value="RESETT"/>
					<xsd:enumeration value="RESMSG"/>
					<xsd:enumeration value="RESREQ"/>
					<xsd:enumeration value="RESRSP"/>
					<xsd:enumeration value="RETACC"/>
					<xsd:enumeration value="RETANN"/>
					<xsd:enumeration value="RETINS"/>
					<xsd:enumeration value="RPCALL"/>
					<xsd:enumeration value="SAFHAZ"/>
					<xsd:enumeration value="SANCRT"/>
					<xsd:enumeration value="SKDREQ"/>
					<xsd:enumeration value="SKDUPD"/>
					<xsd:enumeration value="SLSFCT"/>
					<xsd:enumeration value="SLSRPT"/>
					<xsd:enumeration value="SOCADE"/>
					<xsd:enumeration value="SSIMOD"/>
					<xsd:enumeration value="SSRECH"/>
					<xsd:enumeration value="SSREGW"/>
					<xsd:enumeration value="STATAC"/>
					<xsd:enumeration value="STLRPT"/>
					<xsd:enumeration value="SUPCOT"/>
					<xsd:enumeration value="SUPMAN"/>
					<xsd:enumeration value="SUPRES"/>
					<xsd:enumeration value="TANSTA"/>
					<xsd:enumeration value="TAXCON"/>
					<xsd:enumeration value="TIQREQ"/>
					<xsd:enumeration value="TIQRSP"/>
					<xsd:enumeration value="TPFREP"/>
					<xsd:enumeration value="TSDUPD"/>
					<xsd:enumeration value="TUPREQ"/>
					<xsd:enumeration value="TUPRSP"/>
					<xsd:enumeration value="UTILMD"/>
					<xsd:enumeration value="UTILTS"/>
					<xsd:enumeration value="VATDEC"/>
					<xsd:enumeration value="VESDEP"/>
					<xsd:enumeration value="WASDIS"/>
					<xsd:enumeration value="WKGRDC"/>
					<xsd:enumeration value="WKGRRE"/>
					<xsd:attribute name="Name" fixed="Message type" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0065" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0052">
		<xsd:annotation>
			<xsd:documentation>Message version number</xsd:documentation>
			<xsd:documentation>Version number of a message type.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="88"/>
					<xsd:enumeration value="89"/>
					<xsd:enumeration value="90"/>
					<xsd:enumeration value="D"/>
					<xsd:enumeration value="S"/>
					<xsd:attribute name="Name" fixed="Message version number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0052" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0054">
		<xsd:annotation>
			<xsd:documentation>Message release number</xsd:documentation>
			<xsd:documentation>Release number within the current message version number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="00A"/>
					<xsd:enumeration value="00B"/>
					<xsd:enumeration value="01A"/>
					<xsd:enumeration value="01B"/>
					<xsd:enumeration value="01C"/>
					<xsd:enumeration value="02A"/>
					<xsd:enumeration value="02B"/>
					<xsd:enumeration value="03A"/>
					<xsd:enumeration value="03B"/>
					<xsd:enumeration value="04A"/>
					<xsd:enumeration value="04B"/>
					<xsd:enumeration value="05A"/>
					<xsd:enumeration value="05B"/>
					<xsd:enumeration value="06A"/>
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="902"/>
					<xsd:enumeration value="911"/>
					<xsd:enumeration value="912"/>
					<xsd:enumeration value="921"/>
					<xsd:enumeration value="932"/>
					<xsd:enumeration value="93A"/>
					<xsd:enumeration value="94A"/>
					<xsd:enumeration value="94B"/>
					<xsd:enumeration value="95A"/>
					<xsd:enumeration value="95B"/>
					<xsd:enumeration value="96A"/>
					<xsd:enumeration value="96B"/>
					<xsd:enumeration value="97A"/>
					<xsd:enumeration value="97B"/>
					<xsd:enumeration value="98A"/>
					<xsd:enumeration value="98B"/>
					<xsd:enumeration value="99A"/>
					<xsd:enumeration value="99B"/>
					<xsd:enumeration value="06B"/>
					<xsd:attribute name="Name" fixed="Message release number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0054" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0051">
		<xsd:annotation>
			<xsd:documentation>Controlling agency, coded</xsd:documentation>
			<xsd:documentation>Code identifying a controlling agency.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="AA"/>
					<xsd:enumeration value="AB"/>
					<xsd:enumeration value="AC"/>
					<xsd:enumeration value="AD"/>
					<xsd:enumeration value="AE"/>
					<xsd:enumeration value="AF"/>
					<xsd:enumeration value="AG"/>
					<xsd:enumeration value="AH"/>
					<xsd:enumeration value="AI"/>
					<xsd:enumeration value="CC"/>
					<xsd:enumeration value="CE"/>
					<xsd:enumeration value="EC"/>
					<xsd:enumeration value="ED"/>
					<xsd:enumeration value="EE"/>
					<xsd:enumeration value="EN"/>
					<xsd:enumeration value="ER"/>
					<xsd:enumeration value="EU"/>
					<xsd:enumeration value="EW"/>
					<xsd:enumeration value="EX"/>
					<xsd:enumeration value="IA"/>
					<xsd:enumeration value="KE"/>
					<xsd:enumeration value="LI"/>
					<xsd:enumeration value="OD"/>
					<xsd:enumeration value="RI"/>
					<xsd:enumeration value="RT"/>
					<xsd:enumeration value="UN"/>
					<xsd:attribute name="Name" fixed="Controlling agency, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0051" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0057" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Association assigned code</xsd:documentation>
			<xsd:documentation>Code, assigned by the association responsible for the design and maintenance of the message type concerned, which further identifies the message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="6"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Association assigned code" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0057" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0110" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Code list directory version number</xsd:documentation>
			<xsd:documentation>Version number of the code list directory.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="6"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Code list directory version number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0110" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0113" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Message type sub-function identification</xsd:documentation>
			<xsd:documentation>Code identifying a sub-function of a message type. Note 1: The code qualifies the message type data element (0065) to allow the recipient to identify a specific sub-function of a message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="AA"/>
					<xsd:enumeration value="AB"/>
					<xsd:enumeration value="AC"/>
					<xsd:enumeration value="AD"/>
					<xsd:enumeration value="AE"/>
					<xsd:enumeration value="AF"/>
					<xsd:enumeration value="AG"/>
					<xsd:enumeration value="AH"/>
					<xsd:enumeration value="AI"/>
					<xsd:enumeration value="AJ"/>
					<xsd:enumeration value="AK"/>
					<xsd:enumeration value="AL"/>
					<xsd:enumeration value="AM"/>
					<xsd:enumeration value="AN"/>
					<xsd:enumeration value="AO"/>
					<xsd:enumeration value="AP"/>
					<xsd:enumeration value="AQ"/>
					<xsd:enumeration value="AR"/>
					<xsd:enumeration value="AS"/>
					<xsd:enumeration value="SECACK"/>
					<xsd:enumeration value="SECAUT"/>
					<xsd:attribute name="Name" fixed="Message type sub-function identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0113" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0068" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Common access reference</xsd:documentation>
			<xsd:documentation>Reference serving as a key to relate all subsequent transfers of data to the same business case or file.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Common access reference" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0068" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S010" nillable="true">
		<xsd:annotation>
			<xsd:documentation>STATUS OF THE TRANSFER</xsd:documentation>
			<xsd:documentation>Statement that the message is one in a sequence of transfers relating to the same topic.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0070"/>
				<xsd:element ref="Element-0073" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="STATUS OF THE TRANSFER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S010" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0070">
		<xsd:annotation>
			<xsd:documentation>Sequence of transfers</xsd:documentation>
			<xsd:documentation>Number assigned by the sender indicating the transfer sequence of a message related to the same topic. The message could be an addition or a change to an earlier transfer related to the same topic. Note 1: The first message in the sequence shall be assigned as number 1.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Sequence of transfers" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0070" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0073" nillable="true">
		<xsd:annotation>
			<xsd:documentation>First and last transfer</xsd:documentation>
			<xsd:documentation>Indication used for the first and last message in a sequence of messages related to the same topic.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="C"/>
					<xsd:enumeration value="F"/>
					<xsd:attribute name="Name" fixed="First and last transfer" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0073" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="a" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S016" nillable="true">
		<xsd:annotation>
			<xsd:documentation>MESSAGE SUBSET IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of a message subset by its identifier, version, release and source.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0115"/>
				<xsd:element ref="Element-0116" minOccurs="0"/>
				<xsd:element ref="Element-0118" minOccurs="0"/>
				<xsd:element ref="Element-0051_1" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE SUBSET IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S016" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0115">
		<xsd:annotation>
			<xsd:documentation>Message subset identification</xsd:documentation>
			<xsd:documentation>Coded identification of a message subset, assigned by its controlling agency.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message subset identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0115" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0116" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Message subset version number</xsd:documentation>
			<xsd:documentation>Version number of the message subset.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message subset version number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0116" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0118" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Message subset release number</xsd:documentation>
			<xsd:documentation>Release number within the message subset version number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message subset release number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0118" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0051_1" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Controlling agency, coded</xsd:documentation>
			<xsd:documentation>Code identifying a controlling agency.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="AA"/>
					<xsd:enumeration value="AB"/>
					<xsd:enumeration value="AC"/>
					<xsd:enumeration value="AD"/>
					<xsd:enumeration value="AE"/>
					<xsd:enumeration value="AF"/>
					<xsd:enumeration value="AG"/>
					<xsd:enumeration value="AH"/>
					<xsd:enumeration value="AI"/>
					<xsd:enumeration value="CC"/>
					<xsd:enumeration value="CE"/>
					<xsd:enumeration value="EC"/>
					<xsd:enumeration value="ED"/>
					<xsd:enumeration value="EE"/>
					<xsd:enumeration value="EN"/>
					<xsd:enumeration value="ER"/>
					<xsd:enumeration value="EU"/>
					<xsd:enumeration value="EW"/>
					<xsd:enumeration value="EX"/>
					<xsd:enumeration value="IA"/>
					<xsd:enumeration value="KE"/>
					<xsd:enumeration value="LI"/>
					<xsd:enumeration value="OD"/>
					<xsd:enumeration value="RI"/>
					<xsd:enumeration value="RT"/>
					<xsd:enumeration value="UN"/>
					<xsd:attribute name="Name" fixed="Controlling agency, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0051" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S017" nillable="true">
		<xsd:annotation>
			<xsd:documentation>MESSAGE IMPLEMENTATION GUIDELINE IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of a message implementation guideline by its identifier, version, release and source.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0121"/>
				<xsd:element ref="Element-0122" minOccurs="0"/>
				<xsd:element ref="Element-0124" minOccurs="0"/>
				<xsd:element ref="Element-0051_1" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE IMPLEMENTATION GUIDELINE IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S017" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0121">
		<xsd:annotation>
			<xsd:documentation>Message implementation guideline identification</xsd:documentation>
			<xsd:documentation>Coded identification of the message implementation guideline, assigned by its controlling agency.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message implementation guideline identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0121" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0122" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Message implementation guideline version number</xsd:documentation>
			<xsd:documentation>Version number of the message implementation guideline.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message implementation guideline version number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0122" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0124" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Message implementation guideline release number</xsd:documentation>
			<xsd:documentation>Release number within the message implementation guideline version number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message implementation guideline release number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0124" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S018" nillable="true">
		<xsd:annotation>
			<xsd:documentation>SCENARIO IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of a scenario.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0127"/>
				<xsd:element ref="Element-0128" minOccurs="0"/>
				<xsd:element ref="Element-0130" minOccurs="0"/>
				<xsd:element ref="Element-0051_1" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="SCENARIO IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S018" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0127">
		<xsd:annotation>
			<xsd:documentation>Scenario identification</xsd:documentation>
			<xsd:documentation>Code identifying scenario.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Scenario identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0127" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0128" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Scenario version number</xsd:documentation>
			<xsd:documentation>Version number of a scenario.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Scenario version number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0128" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0130" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Scenario release number</xsd:documentation>
			<xsd:documentation>Release number within the scenario version number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Scenario release number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0130" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCI">
		<xsd:annotation>
			<xsd:documentation>INTERCHANGE RESPONSE</xsd:documentation>
			<xsd:documentation>To identify the subject interchange, to indicate interchange receipt, to indicate acknowledgement or rejection (action taken) of the UNA, UNB and UNZ segments, and to identify any error related to these segments. It can also identify errors related to the USA, USC, USD, USH, USR, UST, or USU security segments when they appear at the interchange level. Depending on the action code, it may also indicate the action taken on the groups, messages, and packages within that interchange. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0020"/>
				<xsd:element ref="Composite-S002"/>
				<xsd:element ref="Composite-S003"/>
				<xsd:element ref="Element-0083"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
				<xsd:element ref="Element-0135" minOccurs="0"/>
				<xsd:element ref="Composite-S011" minOccurs="0"/>
				<xsd:element ref="Element-0534" minOccurs="0"/>
				<xsd:element ref="Element-0138" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="INTERCHANGE RESPONSE" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCI" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0020">
		<xsd:annotation>
			<xsd:documentation>Interchange control reference</xsd:documentation>
			<xsd:documentation>Unique reference assigned by the sender to an interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange control reference" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0020" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S002">
		<xsd:annotation>
			<xsd:documentation>INTERCHANGE SENDER</xsd:documentation>
			<xsd:documentation>Identification of the sender of the interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0004"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
				<xsd:element ref="Element-0008" minOccurs="0"/>
				<xsd:element ref="Element-0042" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="INTERCHANGE SENDER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S002" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0004">
		<xsd:annotation>
			<xsd:documentation>Interchange sender identification</xsd:documentation>
			<xsd:documentation>Name or coded identification of the sender of the interchange. Note 1: Organisation code or name as agreed between interchange partners. Note 2: If coded representation is used, its source may be specified by the qualifier in data element 0007.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange sender identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0004" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0007" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Identification code qualifier</xsd:documentation>
			<xsd:documentation>Qualifier referring to the identification code. Note 1: A qualifier code may refer to an organisation identification as in ISO 6523.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
					<xsd:enumeration value="8"/>
					<xsd:enumeration value="9"/>
					<xsd:enumeration value="12"/>
					<xsd:enumeration value="14"/>
					<xsd:enumeration value="18"/>
					<xsd:enumeration value="22"/>
					<xsd:enumeration value="30"/>
					<xsd:enumeration value="31"/>
					<xsd:enumeration value="33"/>
					<xsd:enumeration value="34"/>
					<xsd:enumeration value="51"/>
					<xsd:enumeration value="52"/>
					<xsd:enumeration value="53"/>
					<xsd:enumeration value="54"/>
					<xsd:enumeration value="55"/>
					<xsd:enumeration value="57"/>
					<xsd:enumeration value="58"/>
					<xsd:enumeration value="59"/>
					<xsd:enumeration value="61"/>
					<xsd:enumeration value="63"/>
					<xsd:enumeration value="65"/>
					<xsd:enumeration value="80"/>
					<xsd:enumeration value="82"/>
					<xsd:enumeration value="84"/>
					<xsd:enumeration value="85"/>
					<xsd:enumeration value="86"/>
					<xsd:enumeration value="87"/>
					<xsd:enumeration value="89"/>
					<xsd:enumeration value="90"/>
					<xsd:enumeration value="91"/>
					<xsd:enumeration value="92"/>
					<xsd:enumeration value="103"/>
					<xsd:enumeration value="128"/>
					<xsd:enumeration value="129"/>
					<xsd:enumeration value="144"/>
					<xsd:enumeration value="145"/>
					<xsd:enumeration value="146"/>
					<xsd:enumeration value="147"/>
					<xsd:enumeration value="148"/>
					<xsd:enumeration value="Z01"/>
					<xsd:enumeration value="ZZZ"/>
					<xsd:attribute name="Name" fixed="Identification code qualifier" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0007" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0008" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Interchange sender internal identification</xsd:documentation>
			<xsd:documentation>Identification (for example, a division, branch or computer system/process) specified by the sender of interchange, to be included if agreed, by the recipient in response interchanges, to facilitate internal routing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange sender internal identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0008" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0042" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Interchange sender internal sub-identification</xsd:documentation>
			<xsd:documentation>Sub-level of sender internal identification, when further sub-level identification is required.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange sender internal sub-identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0042" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S003">
		<xsd:annotation>
			<xsd:documentation>INTERCHANGE RECIPIENT</xsd:documentation>
			<xsd:documentation>Identification of the recipient of the interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0010"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
				<xsd:element ref="Element-0014" minOccurs="0"/>
				<xsd:element ref="Element-0046" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="INTERCHANGE RECIPIENT" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S003" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0010">
		<xsd:annotation>
			<xsd:documentation>Interchange recipient identification</xsd:documentation>
			<xsd:documentation>Name or coded identification of the recipient of the interchange. Note 1: Organisation code or name as agreed between interchange partners. Note 2: If coded representation is used, its source may be specified by the qualifier in data element 0007.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange recipient identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0010" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0014" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Interchange recipient internal identification</xsd:documentation>
			<xsd:documentation>Identification (for example, a division, branch or computer system/process) specified by the recipient of interchange, to be included if agreed, by the sender in response interchanges, to facilitate internal routing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange recipient internal identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0014" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0046" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Interchange recipient internal sub-identification</xsd:documentation>
			<xsd:documentation>Sub-level of recipient internal identification, when further sub-level identification is required.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange recipient internal sub-identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0046" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0083">
		<xsd:annotation>
			<xsd:documentation>Action, coded</xsd:documentation>
			<xsd:documentation>A code indicating acknowledgement, or rejection (the action taken) of a subject interchange, or part of the subject interchange, or indication of interchange receipt.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="8"/>
					<xsd:attribute name="Name" fixed="Action, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0083" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0085" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Syntax error, coded</xsd:documentation>
			<xsd:documentation>A code indicating the error detected.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="12"/>
					<xsd:enumeration value="13"/>
					<xsd:enumeration value="14"/>
					<xsd:enumeration value="15"/>
					<xsd:enumeration value="16"/>
					<xsd:enumeration value="17"/>
					<xsd:enumeration value="18"/>
					<xsd:enumeration value="20"/>
					<xsd:enumeration value="21"/>
					<xsd:enumeration value="22"/>
					<xsd:enumeration value="23"/>
					<xsd:enumeration value="24"/>
					<xsd:enumeration value="25"/>
					<xsd:enumeration value="26"/>
					<xsd:enumeration value="28"/>
					<xsd:enumeration value="29"/>
					<xsd:enumeration value="30"/>
					<xsd:enumeration value="32"/>
					<xsd:enumeration value="33"/>
					<xsd:enumeration value="35"/>
					<xsd:enumeration value="36"/>
					<xsd:enumeration value="37"/>
					<xsd:enumeration value="39"/>
					<xsd:enumeration value="40"/>
					<xsd:enumeration value="45"/>
					<xsd:enumeration value="46"/>
					<xsd:enumeration value="47"/>
					<xsd:enumeration value="48"/>
					<xsd:attribute name="Name" fixed="Syntax error, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0085" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0135" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Service segment tag, coded</xsd:documentation>
			<xsd:documentation>Code identifying a service segment.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="UCD"/>
					<xsd:enumeration value="UCF"/>
					<xsd:enumeration value="UCI"/>
					<xsd:enumeration value="UCM"/>
					<xsd:enumeration value="UCS"/>
					<xsd:enumeration value="UGH"/>
					<xsd:enumeration value="UGT"/>
					<xsd:enumeration value="UIB"/>
					<xsd:enumeration value="UIH"/>
					<xsd:enumeration value="UIR"/>
					<xsd:enumeration value="UIT"/>
					<xsd:enumeration value="UIZ"/>
					<xsd:enumeration value="UNB"/>
					<xsd:enumeration value="UNE"/>
					<xsd:enumeration value="UNG"/>
					<xsd:enumeration value="UNH"/>
					<xsd:enumeration value="UNO"/>
					<xsd:enumeration value="UNP"/>
					<xsd:enumeration value="UNS"/>
					<xsd:enumeration value="UNT"/>
					<xsd:enumeration value="UNZ"/>
					<xsd:enumeration value="USA"/>
					<xsd:enumeration value="USB"/>
					<xsd:enumeration value="USC"/>
					<xsd:enumeration value="USD"/>
					<xsd:enumeration value="USE"/>
					<xsd:enumeration value="USF"/>
					<xsd:enumeration value="USH"/>
					<xsd:enumeration value="USL"/>
					<xsd:enumeration value="USR"/>
					<xsd:enumeration value="UST"/>
					<xsd:enumeration value="USU"/>
					<xsd:enumeration value="USX"/>
					<xsd:enumeration value="USY"/>
					<xsd:attribute name="Name" fixed="Service segment tag, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0135" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S011" nillable="true">
		<xsd:annotation>
			<xsd:documentation>DATA ELEMENT IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of the position for an erroneous data element. This can be the position of a stand-alone or composite data element in the definition of a segment or a component data element in the definition of a composite data element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0098"/>
				<xsd:element ref="Element-0104" minOccurs="0"/>
				<xsd:element ref="Element-0136" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="DATA ELEMENT IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S011" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0098">
		<xsd:annotation>
			<xsd:documentation>Erroneous data element position in segment</xsd:documentation>
			<xsd:documentation>The numerical count position of the stand-alone or composite data element in error. The segment code and each following stand-alone or composite data element defined in the segment description shall cause the count to be incremented. The segment tag has position number 1.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Erroneous data element position in segment" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0098" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0104" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Erroneous component data element position</xsd:documentation>
			<xsd:documentation>The numerical count position of the component data element in error. Each component data element position defined in the composite data element description shall cause the count to be incremented. The count starts at 1.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Erroneous component data element position" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0104" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0136" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Erroneous data element occurrence</xsd:documentation>
			<xsd:documentation>The numerical occurrence of the repeating stand-alone or composite data element in error. Each occurrence (as indicated by the repetition separator) shall cause the count to be incremented. The count starts at 1.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Erroneous data element occurrence" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0136" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0534" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Security reference number</xsd:documentation>
			<xsd:documentation>Unique reference number assigned by the security originator to a pair of security header and security trailer groups. Note 1: The value shall be arbitrarily assigned, but the same value shall not be used more than once within the same EDIFACT structure, I.e. interchange, group, message or package.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Security reference number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0534" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0138" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Security segment position</xsd:documentation>
			<xsd:documentation>The numerical count position of a specific security segment that is within the actual received security header/trailer segment group pair, identified by its security reference number. The numbering starts with, and includes, the USH segment as segment number 1. To identify a security segment that contains an error, this is the numerical count position of that security segment. To report that a security segment is missing, this is the numerical count position of the last security segment that was processed  before the position where the missing security segment was expected to be. A missing security segment group is denoted by identifying the first segment in the security segment group as missing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Security segment position" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0138" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCM" minOccurs="1"/>
				<xsd:element ref="Loop-Group_2" minOccurs="0" maxOccurs="999"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 1" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCM">
		<xsd:annotation>
			<xsd:documentation>MESSAGE/PACKAGE RESPONSE</xsd:documentation>
			<xsd:documentation>To identify a message or package in the subject interchange, and to indicate that message's or package's acknowledgement or rejection (action taken), and to identify any error related to the UNH, UNT, UNO, and UNP segments. It can also identify errors related to the USA, USC, USD, USH, USR, UST, or USU security segments when they appear at the message or package level.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0062_1" minOccurs="0"/>
				<xsd:element ref="Composite-S009_1" minOccurs="0"/>
				<xsd:element ref="Element-0083"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
				<xsd:element ref="Element-0135" minOccurs="0"/>
				<xsd:element ref="Composite-S011" minOccurs="0"/>
				<xsd:element ref="Element-0800" minOccurs="0"/>
				<xsd:element ref="Composite-S020" minOccurs="0" maxOccurs="99"/>
				<xsd:element ref="Element-0534" minOccurs="0"/>
				<xsd:element ref="Element-0138" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE/PACKAGE RESPONSE" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCM" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0062_1" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Message reference number</xsd:documentation>
			<xsd:documentation>Unique message reference assigned by the sender.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message reference number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0062" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S009_1" nillable="true">
		<xsd:annotation>
			<xsd:documentation>MESSAGE IDENTIFIER</xsd:documentation>
			<xsd:documentation>Identification of the type, version, etc. of the message being interchanged.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0065"/>
				<xsd:element ref="Element-0052"/>
				<xsd:element ref="Element-0054"/>
				<xsd:element ref="Element-0051"/>
				<xsd:element ref="Element-0057" minOccurs="0"/>
				<xsd:element ref="Element-0110" minOccurs="0"/>
				<xsd:element ref="Element-0113" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE IDENTIFIER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S009" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0800" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Package reference number</xsd:documentation>
			<xsd:documentation>Unique package reference number assigned by the sender.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Package reference number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0800" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S020" nillable="true">
		<xsd:annotation>
			<xsd:documentation>REFERENCE IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of the reference relating to the object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0813"/>
				<xsd:element ref="Element-0802"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="REFERENCE IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S020" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0813">
		<xsd:annotation>
			<xsd:documentation>Reference qualifier</xsd:documentation>
			<xsd:documentation>Code giving specific meaning to a reference identification number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:attribute name="Name" fixed="Reference qualifier" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0813" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0802">
		<xsd:annotation>
			<xsd:documentation>Reference identification number</xsd:documentation>
			<xsd:documentation>Reference number to identify a message, message group and/or interchange, which relates to the object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Reference identification number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0802" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_2">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCS" minOccurs="1"/>
				<xsd:element ref="Segment-UCD" minOccurs="0" maxOccurs="99"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 2" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCS">
		<xsd:annotation>
			<xsd:documentation>SEGMENT ERROR INDICATION</xsd:documentation>
			<xsd:documentation>To identify either a segment containing an error or a missing segment, and to identify any error related to the complete segment. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0096"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="SEGMENT ERROR INDICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCS" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0096">
		<xsd:annotation>
			<xsd:documentation>Segment position in message body</xsd:documentation>
			<xsd:documentation>The numerical count position of a specific segment that is within the actual received message body. The numbering starts with, and includes, the UNH or the UIH segment as segment number 1. To identify a segment that contains an error, this is the numerical count position of that segment. To report that a segment is missing, this is the numerical count position of the last segment that was processed before the position where the missing segment was expected to be. A missing segment group is denoted by ident ifying the first segment in the group as missing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Segment position in message body" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0096" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCD">
		<xsd:annotation>
			<xsd:documentation>DATA ELEMENT ERROR INDICATION</xsd:documentation>
			<xsd:documentation>To identify an erroneous stand-alone, composite or component data element, and to identify the nature of the error. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0085_1"/>
				<xsd:element ref="Composite-S011_1"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="DATA ELEMENT ERROR INDICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCD" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0085_1">
		<xsd:annotation>
			<xsd:documentation>Syntax error, coded</xsd:documentation>
			<xsd:documentation>A code indicating the error detected.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="12"/>
					<xsd:enumeration value="13"/>
					<xsd:enumeration value="14"/>
					<xsd:enumeration value="15"/>
					<xsd:enumeration value="16"/>
					<xsd:enumeration value="17"/>
					<xsd:enumeration value="18"/>
					<xsd:enumeration value="20"/>
					<xsd:enumeration value="21"/>
					<xsd:enumeration value="22"/>
					<xsd:enumeration value="23"/>
					<xsd:enumeration value="24"/>
					<xsd:enumeration value="25"/>
					<xsd:enumeration value="26"/>
					<xsd:enumeration value="28"/>
					<xsd:enumeration value="29"/>
					<xsd:enumeration value="30"/>
					<xsd:enumeration value="32"/>
					<xsd:enumeration value="33"/>
					<xsd:enumeration value="35"/>
					<xsd:enumeration value="36"/>
					<xsd:enumeration value="37"/>
					<xsd:enumeration value="39"/>
					<xsd:enumeration value="40"/>
					<xsd:enumeration value="45"/>
					<xsd:enumeration value="46"/>
					<xsd:enumeration value="47"/>
					<xsd:enumeration value="48"/>
					<xsd:attribute name="Name" fixed="Syntax error, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0085" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S011_1">
		<xsd:annotation>
			<xsd:documentation>DATA ELEMENT IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of the position for an erroneous data element. This can be the position of a stand-alone or composite data element in the definition of a segment or a component data element in the definition of a composite data element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0098"/>
				<xsd:element ref="Element-0104" minOccurs="0"/>
				<xsd:element ref="Element-0136" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="DATA ELEMENT IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S011" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_3">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCF" minOccurs="1"/>
				<xsd:element ref="Loop-Group_4" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 3" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCF">
		<xsd:annotation>
			<xsd:documentation>GROUP RESPONSE</xsd:documentation>
			<xsd:documentation>To identify a group in the subject interchange and to indicate acknowledgement or rejection (action taken) of the UNG and UNE segments, and to identify any error related to these segments. It can also identify errors related to the USA, USC, USD, USH, USR, UST, or USU security segments when they appear at the group level. Depending on the action code, it may also indicate the action taken on the messages and packages within that group. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0048"/>
				<xsd:element ref="Composite-S006" minOccurs="0"/>
				<xsd:element ref="Composite-S007" minOccurs="0"/>
				<xsd:element ref="Element-0083"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
				<xsd:element ref="Element-0135" minOccurs="0"/>
				<xsd:element ref="Composite-S011" minOccurs="0"/>
				<xsd:element ref="Element-0534" minOccurs="0"/>
				<xsd:element ref="Element-0138" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="GROUP RESPONSE" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCF" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0048">
		<xsd:annotation>
			<xsd:documentation>Group reference number</xsd:documentation>
			<xsd:documentation>Unique reference number for the group within an interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Group reference number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0048" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S006" nillable="true">
		<xsd:annotation>
			<xsd:documentation>APPLICATION SENDER IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Sender identification of for example a division, branch or application computer system/process.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0040"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="APPLICATION SENDER IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S006" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0040">
		<xsd:annotation>
			<xsd:documentation>Application sender identification</xsd:documentation>
			<xsd:documentation>Name or coded identification of the application sender (for example, a division, branch or computer system/process).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Application sender identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0040" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S007" nillable="true">
		<xsd:annotation>
			<xsd:documentation>APPLICATION RECIPIENT IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Recipient identification of for example a division, branch or application computer system/process.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0044"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="APPLICATION RECIPIENT IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S007" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0044">
		<xsd:annotation>
			<xsd:documentation>Application recipient identification</xsd:documentation>
			<xsd:documentation>Name or coded identification of the application recipient (for example, a division, branch or computer system/process).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Application recipient identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0044" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_4">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCM" minOccurs="1"/>
				<xsd:element ref="Loop-Group_5" minOccurs="0" maxOccurs="999"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 4" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_5">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCS" minOccurs="1"/>
				<xsd:element ref="Segment-UCD" minOccurs="0" maxOccurs="99"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 5" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UNT">
		<xsd:annotation>
			<xsd:documentation>MESSAGE TRAILER</xsd:documentation>
			<xsd:documentation>To end and check the completeness of a message. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0074"/>
				<xsd:element ref="Element-0062"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE TRAILER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UNT" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0074">
		<xsd:annotation>
			<xsd:documentation>Number of segments in a message</xsd:documentation>
			<xsd:documentation>The number of segments in a message body, plus the message header segment and message trailer segment.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:attribute name="Name" fixed="Number of segments in a message" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0074" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>