soa-infra_MDS/soa/b2b/seed/CONTRL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Automatically generated by EDIFECS SpecBuilder (http://www.edifecs.com) -->
<xsd:schema xmlns="urn:oracle:integration:b2b:9FF110DDDB0C424F8B4C5A0F73EF6547" targetNamespace="urn:oracle:integration:b2b:9FF110DDDB0C424F8B4C5A0F73EF6547" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:element name="Transaction-CONTRL">
		<xsd:annotation>
			<xsd:documentation>Syntax and service report message</xsd:documentation>
			<xsd:documentation>CONTRL is a message syntactically acknowledging or rejecting, with error indication, a received interchange, functional group or message. A CONTRL message can be used to: a)  acknowledge or reject a received interchange, functional group or message and  list any errors contained therein, or b)  indicate only the receipt of an interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Internal-Properties" minOccurs="0"/>
				<xsd:element ref="Segment-UNH"/>
				<xsd:element ref="Segment-UCI"/>
				<xsd:element ref="Loop-Group_1" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Loop-Group_3" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Segment-UNT"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="Syntax and service report message" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="CONTRL" type="xsd:string"/>
			<xsd:attribute name="Type" default="Transaction" type="xsd:string"/>
			<xsd:attribute name="XDataVersion" fixed="1.0" type="xsd:string"/>
			<xsd:attribute name="Standard" fixed="EDIFACT" use="required" type="xsd:string"/>
			<xsd:attribute name="Version" default="D3" type="xsd:string"/>
			<xsd:attribute name="GUID" type="GUID"/>
			<xsd:attribute name="CreatedBy" type="xsd:string"/>
			<xsd:attribute name="CreatedDate" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="EDI-Element-String-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Integer-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Decimal-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-hexBinary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:hexBinary">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-base64Binary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Any-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="Internal-Properties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Data-Structure">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Lookup" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Property" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Name" type="xsd:string"/>
			<xsd:attribute name="GUID" type="GUID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Lookup">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Name" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Property">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Name" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Segment-UNH">
		<xsd:annotation>
			<xsd:documentation>MESSAGE HEADER</xsd:documentation>
			<xsd:documentation>To head, identify and specify a message. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0062"/>
				<xsd:element ref="Composite-S009"/>
				<xsd:element ref="Element-0068" minOccurs="0"/>
				<xsd:element ref="Composite-S010" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE HEADER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UNH" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0062">
		<xsd:annotation>
			<xsd:documentation>Message reference number</xsd:documentation>
			<xsd:documentation>Unique message reference assigned by the sender.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Message reference number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0062" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S009">
		<xsd:annotation>
			<xsd:documentation>MESSAGE IDENTIFIER</xsd:documentation>
			<xsd:documentation>Identification of the type, version etc. of the message being interchanged.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0065"/>
				<xsd:element ref="Element-0052"/>
				<xsd:element ref="Element-0054"/>
				<xsd:element ref="Element-0051"/>
				<xsd:element ref="Element-0057" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE IDENTIFIER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S009" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0065">
		<xsd:annotation>
			<xsd:documentation>Message type</xsd:documentation>
			<xsd:documentation>Code identifying a type of message and assigned by its controlling agency.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="APERAK"/>
					<xsd:enumeration value="AUTHOR"/>
					<xsd:enumeration value="BALANC"/>
					<xsd:enumeration value="BANSTA"/>
					<xsd:enumeration value="BAPLIE"/>
					<xsd:enumeration value="BERMAN"/>
					<xsd:enumeration value="BMISRM"/>
					<xsd:enumeration value="BOPBNK"/>
					<xsd:enumeration value="BOPCUS"/>
					<xsd:enumeration value="BOPDIR"/>
					<xsd:enumeration value="BOPINF"/>
					<xsd:enumeration value="BUSCRD"/>
					<xsd:enumeration value="CALINF"/>
					<xsd:enumeration value="CASINT"/>
					<xsd:enumeration value="CASRES"/>
					<xsd:enumeration value="CHACCO"/>
					<xsd:enumeration value="CLASET"/>
					<xsd:enumeration value="CNTCND"/>
					<xsd:enumeration value="COACSU"/>
					<xsd:enumeration value="COARRI"/>
					<xsd:enumeration value="CODECO"/>
					<xsd:enumeration value="CODENO"/>
					<xsd:enumeration value="COEDOR"/>
					<xsd:enumeration value="COHAOR"/>
					<xsd:enumeration value="COLREQ"/>
					<xsd:enumeration value="COMDIS"/>
					<xsd:enumeration value="CONAPW"/>
					<xsd:enumeration value="CONDPV"/>
					<xsd:enumeration value="CONDRA"/>
					<xsd:enumeration value="CONDRO"/>
					<xsd:enumeration value="CONEST"/>
					<xsd:enumeration value="CONITT"/>
					<xsd:enumeration value="CONPVA"/>
					<xsd:enumeration value="CONQVA"/>
					<xsd:enumeration value="CONRPW"/>
					<xsd:enumeration value="CONTEN"/>
					<xsd:enumeration value="CONTRL"/>
					<xsd:enumeration value="CONWQD"/>
					<xsd:enumeration value="COPARN"/>
					<xsd:enumeration value="COPAYM"/>
					<xsd:enumeration value="COPINO"/>
					<xsd:enumeration value="COPRAR"/>
					<xsd:enumeration value="COREOR"/>
					<xsd:enumeration value="COSTCO"/>
					<xsd:enumeration value="COSTOR"/>
					<xsd:enumeration value="CREADV"/>
					<xsd:enumeration value="CREEXT"/>
					<xsd:enumeration value="CREMUL"/>
					<xsd:enumeration value="CUSCAR"/>
					<xsd:enumeration value="CUSDEC"/>
					<xsd:enumeration value="CUSEXP"/>
					<xsd:enumeration value="CUSPED"/>
					<xsd:enumeration value="CUSREP"/>
					<xsd:enumeration value="CUSRES"/>
					<xsd:enumeration value="DEBADV"/>
					<xsd:enumeration value="DEBMUL"/>
					<xsd:enumeration value="DEBREC"/>
					<xsd:enumeration value="DELFOR"/>
					<xsd:enumeration value="DELJIT"/>
					<xsd:enumeration value="DESADV"/>
					<xsd:enumeration value="DESTIM"/>
					<xsd:enumeration value="DGRECA"/>
					<xsd:enumeration value="DIRDEB"/>
					<xsd:enumeration value="DIRDEF"/>
					<xsd:enumeration value="DMRDEF"/>
					<xsd:enumeration value="DMSTAT"/>
					<xsd:enumeration value="DOCADV"/>
					<xsd:enumeration value="DOCAMA"/>
					<xsd:enumeration value="DOCAMI"/>
					<xsd:enumeration value="DOCAMR"/>
					<xsd:enumeration value="DOCAPP"/>
					<xsd:enumeration value="DOCARE"/>
					<xsd:enumeration value="DOCINF"/>
					<xsd:enumeration value="ENTREC"/>
					<xsd:enumeration value="FINCAN"/>
					<xsd:enumeration value="FINPAY"/>
					<xsd:enumeration value="FINSTA"/>
					<xsd:enumeration value="GENRAL"/>
					<xsd:enumeration value="GESMES"/>
					<xsd:enumeration value="HANMOV"/>
					<xsd:enumeration value="ICASRP"/>
					<xsd:enumeration value="ICSOLI"/>
					<xsd:enumeration value="IFCSUM"/>
					<xsd:enumeration value="IFTCCA"/>
					<xsd:enumeration value="IFTDGN"/>
					<xsd:enumeration value="IFTFCC"/>
					<xsd:enumeration value="IFTICL"/>
					<xsd:enumeration value="IFTMAN"/>
					<xsd:enumeration value="IFTMBC"/>
					<xsd:enumeration value="IFTMBF"/>
					<xsd:enumeration value="IFTMBP"/>
					<xsd:enumeration value="IFTMCA"/>
					<xsd:enumeration value="IFTMCS"/>
					<xsd:enumeration value="IFTMIN"/>
					<xsd:enumeration value="IFTRIN"/>
					<xsd:enumeration value="IFTSAI"/>
					<xsd:enumeration value="IFTSTA"/>
					<xsd:enumeration value="IFTSTQ"/>
					<xsd:enumeration value="IMPDEF"/>
					<xsd:enumeration value="INFCON"/>
					<xsd:enumeration value="INFENT"/>
					<xsd:enumeration value="INSDES"/>
					<xsd:enumeration value="INSPRE"/>
					<xsd:enumeration value="INSREQ"/>
					<xsd:enumeration value="INSRPT"/>
					<xsd:enumeration value="INVOIC"/>
					<xsd:enumeration value="INVRPT"/>
					<xsd:enumeration value="IPPOAD"/>
					<xsd:enumeration value="IPPOMO"/>
					<xsd:enumeration value="ISENDS"/>
					<xsd:enumeration value="ITRRPT"/>
					<xsd:enumeration value="JAPRES"/>
					<xsd:enumeration value="JINFDE"/>
					<xsd:enumeration value="JOBAPP"/>
					<xsd:enumeration value="JOBCON"/>
					<xsd:enumeration value="JOBMOD"/>
					<xsd:enumeration value="JOBOFF"/>
					<xsd:enumeration value="JUPREQ"/>
					<xsd:enumeration value="KEYMAN"/>
					<xsd:enumeration value="LEDGER"/>
					<xsd:enumeration value="LREACT"/>
					<xsd:enumeration value="LRECLM"/>
					<xsd:enumeration value="MEDPID"/>
					<xsd:enumeration value="MEDPRE"/>
					<xsd:enumeration value="MEDREQ"/>
					<xsd:enumeration value="MEDRPT"/>
					<xsd:enumeration value="MEDRUC"/>
					<xsd:enumeration value="MEQPOS"/>
					<xsd:enumeration value="MOVINS"/>
					<xsd:enumeration value="MSCONS"/>
					<xsd:enumeration value="ORDCHG"/>
					<xsd:enumeration value="ORDERS"/>
					<xsd:enumeration value="ORDRSP"/>
					<xsd:enumeration value="OSTENQ"/>
					<xsd:enumeration value="OSTRPT"/>
					<xsd:enumeration value="PARTIN"/>
					<xsd:enumeration value="PAXLST"/>
					<xsd:enumeration value="PAYDUC"/>
					<xsd:enumeration value="PAYEXT"/>
					<xsd:enumeration value="PAYMUL"/>
					<xsd:enumeration value="PAYORD"/>
					<xsd:enumeration value="PRICAT"/>
					<xsd:enumeration value="PRIHIS"/>
					<xsd:enumeration value="PROCST"/>
					<xsd:enumeration value="PRODAT"/>
					<xsd:enumeration value="PRODEX"/>
					<xsd:enumeration value="PROINQ"/>
					<xsd:enumeration value="PROSRV"/>
					<xsd:enumeration value="PROTAP"/>
					<xsd:enumeration value="PRPAID"/>
					<xsd:enumeration value="QALITY"/>
					<xsd:enumeration value="QUOTES"/>
					<xsd:enumeration value="RDRMES"/>
					<xsd:enumeration value="REBORD"/>
					<xsd:enumeration value="RECADV"/>
					<xsd:enumeration value="RECALC"/>
					<xsd:enumeration value="RECECO"/>
					<xsd:enumeration value="RECLAM"/>
					<xsd:enumeration value="RECORD"/>
					<xsd:enumeration value="REGENT"/>
					<xsd:enumeration value="RELIST"/>
					<xsd:enumeration value="REMADV"/>
					<xsd:enumeration value="REPREM"/>
					<xsd:enumeration value="REQDOC"/>
					<xsd:enumeration value="REQOTE"/>
					<xsd:enumeration value="RESETT"/>
					<xsd:enumeration value="RESMSG"/>
					<xsd:enumeration value="RETACC"/>
					<xsd:enumeration value="RETANN"/>
					<xsd:enumeration value="RETINS"/>
					<xsd:enumeration value="RPCALL"/>
					<xsd:enumeration value="SAFHAZ"/>
					<xsd:enumeration value="SANCRT"/>
					<xsd:enumeration value="SLSFCT"/>
					<xsd:enumeration value="SLSRPT"/>
					<xsd:enumeration value="SOCADE"/>
					<xsd:enumeration value="SSIMOD"/>
					<xsd:enumeration value="SSRECH"/>
					<xsd:enumeration value="SSREGW"/>
					<xsd:enumeration value="STATAC"/>
					<xsd:enumeration value="STLRPT"/>
					<xsd:enumeration value="SUPCOT"/>
					<xsd:enumeration value="SUPMAN"/>
					<xsd:enumeration value="SUPRES"/>
					<xsd:enumeration value="TANSTA"/>
					<xsd:enumeration value="TAXCON"/>
					<xsd:enumeration value="TPFREP"/>
					<xsd:enumeration value="UTILMD"/>
					<xsd:enumeration value="UTILTS"/>
					<xsd:enumeration value="VATDEC"/>
					<xsd:enumeration value="VESDEP"/>
					<xsd:enumeration value="WASDIS"/>
					<xsd:enumeration value="WKGRDC"/>
					<xsd:enumeration value="WKGRRE"/>
					<xsd:attribute name="Name" fixed="Message type" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0065" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0052">
		<xsd:annotation>
			<xsd:documentation>Message version number</xsd:documentation>
			<xsd:documentation>Version number of a message type.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="88"/>
					<xsd:enumeration value="89"/>
					<xsd:enumeration value="90"/>
					<xsd:enumeration value="D"/>
					<xsd:enumeration value="S"/>
					<xsd:attribute name="Name" fixed="Message version number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0052" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0054">
		<xsd:annotation>
			<xsd:documentation>Message release number</xsd:documentation>
			<xsd:documentation>Release number within the current message type version number (0052).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="00A"/>
					<xsd:enumeration value="00B"/>
					<xsd:enumeration value="01A"/>
					<xsd:enumeration value="01B"/>
					<xsd:enumeration value="01C"/>
					<xsd:enumeration value="02A"/>
					<xsd:enumeration value="02B"/>
					<xsd:enumeration value="03A"/>
					<xsd:enumeration value="03B"/>
					<xsd:enumeration value="04A"/>
					<xsd:enumeration value="04B"/>
					<xsd:enumeration value="05A"/>
					<xsd:enumeration value="05B"/>
					<xsd:enumeration value="06A"/>
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="902"/>
					<xsd:enumeration value="911"/>
					<xsd:enumeration value="912"/>
					<xsd:enumeration value="921"/>
					<xsd:enumeration value="932"/>
					<xsd:enumeration value="93A"/>
					<xsd:enumeration value="94A"/>
					<xsd:enumeration value="94B"/>
					<xsd:enumeration value="95A"/>
					<xsd:enumeration value="95B"/>
					<xsd:enumeration value="96A"/>
					<xsd:enumeration value="96B"/>
					<xsd:enumeration value="97A"/>
					<xsd:enumeration value="97B"/>
					<xsd:enumeration value="98A"/>
					<xsd:enumeration value="98B"/>
					<xsd:enumeration value="99A"/>
					<xsd:enumeration value="99B"/>
					<xsd:enumeration value="06B"/>
					<xsd:attribute name="Name" fixed="Message release number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0054" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0051">
		<xsd:annotation>
			<xsd:documentation>Controlling agency</xsd:documentation>
			<xsd:documentation>Code to identify the agency controlling the specification, maintenance and publication of the message type.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="AA"/>
					<xsd:enumeration value="AB"/>
					<xsd:enumeration value="AC"/>
					<xsd:enumeration value="AD"/>
					<xsd:enumeration value="AE"/>
					<xsd:enumeration value="AF"/>
					<xsd:enumeration value="AG"/>
					<xsd:enumeration value="AH"/>
					<xsd:enumeration value="AI"/>
					<xsd:enumeration value="CC"/>
					<xsd:enumeration value="CE"/>
					<xsd:enumeration value="EC"/>
					<xsd:enumeration value="ED"/>
					<xsd:enumeration value="EE"/>
					<xsd:enumeration value="EN"/>
					<xsd:enumeration value="ER"/>
					<xsd:enumeration value="EU"/>
					<xsd:enumeration value="EW"/>
					<xsd:enumeration value="EX"/>
					<xsd:enumeration value="IA"/>
					<xsd:enumeration value="KE"/>
					<xsd:enumeration value="LI"/>
					<xsd:enumeration value="OD"/>
					<xsd:enumeration value="RI"/>
					<xsd:enumeration value="RT"/>
					<xsd:enumeration value="UN"/>
					<xsd:attribute name="Name" fixed="Controlling agency" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0051" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0057" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Association assigned code</xsd:documentation>
			<xsd:documentation>A code assigned by the association responsible for the design and maintenance of the message type concerned, which further identifies the message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="6"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Association assigned code" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0057" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0068" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Common access reference</xsd:documentation>
			<xsd:documentation>Reference serving as a key to relate all subsequent transfers of data to the same business case or file.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Common access reference" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0068" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S010" nillable="true">
		<xsd:annotation>
			<xsd:documentation>STATUS OF THE  TRANSFER</xsd:documentation>
			<xsd:documentation>Statement that the message is one in a sequence of transfers relating to the same topic.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0070"/>
				<xsd:element ref="Element-0073" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="STATUS OF THE  TRANSFER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S010" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0070">
		<xsd:annotation>
			<xsd:documentation>Sequence of transfers</xsd:documentation>
			<xsd:documentation>Number assigned by the sender indicating the numerical sequence of one or more transfers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Sequence of transfers" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0070" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0073" nillable="true">
		<xsd:annotation>
			<xsd:documentation>First and last transfer</xsd:documentation>
			<xsd:documentation>Indication used for the first and last message in a sequence of the same type of message relating to the same topic.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="C"/>
					<xsd:enumeration value="F"/>
					<xsd:attribute name="Name" fixed="First and last transfer" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0073" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="a" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCI">
		<xsd:annotation>
			<xsd:documentation>INTERCHANGE RESPONSE</xsd:documentation>
			<xsd:documentation>To identify the subject interchange, to indicate interchange receipt, to indicate acknowledgement or rejection (action taken) of the UNA, UNB and UNZ segments, and to identify any error related to these segments. Depending on the action code, it may also indicate the action taken on the functional groups and messages within that interchange. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0020"/>
				<xsd:element ref="Composite-S002"/>
				<xsd:element ref="Composite-S003"/>
				<xsd:element ref="Element-0083"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
				<xsd:element ref="Element-0013" minOccurs="0"/>
				<xsd:element ref="Composite-S011" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="INTERCHANGE RESPONSE" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCI" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0020">
		<xsd:annotation>
			<xsd:documentation>Interchange control reference</xsd:documentation>
			<xsd:documentation>Unique reference assigned by the sender to an interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Interchange control reference" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0020" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S002">
		<xsd:annotation>
			<xsd:documentation>INTERCHANGE SENDER</xsd:documentation>
			<xsd:documentation>Identification of the sender of the interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0004"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
				<xsd:element ref="Element-0008" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="INTERCHANGE SENDER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S002" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0004">
		<xsd:annotation>
			<xsd:documentation>Sender identification</xsd:documentation>
			<xsd:documentation>Name or coded representation of the sender of a data interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Sender identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0004" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0007" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Partner identification code qualifier</xsd:documentation>
			<xsd:documentation>Qualifier referring to the source of codes for the identifiers of interchanging partners.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
					<xsd:enumeration value="8"/>
					<xsd:enumeration value="9"/>
					<xsd:enumeration value="12"/>
					<xsd:enumeration value="14"/>
					<xsd:enumeration value="18"/>
					<xsd:enumeration value="22"/>
					<xsd:enumeration value="30"/>
					<xsd:enumeration value="31"/>
					<xsd:enumeration value="33"/>
					<xsd:enumeration value="34"/>
					<xsd:enumeration value="51"/>
					<xsd:enumeration value="52"/>
					<xsd:enumeration value="53"/>
					<xsd:enumeration value="54"/>
					<xsd:enumeration value="55"/>
					<xsd:enumeration value="57"/>
					<xsd:enumeration value="58"/>
					<xsd:enumeration value="59"/>
					<xsd:enumeration value="61"/>
					<xsd:enumeration value="63"/>
					<xsd:enumeration value="65"/>
					<xsd:enumeration value="80"/>
					<xsd:enumeration value="82"/>
					<xsd:enumeration value="84"/>
					<xsd:enumeration value="85"/>
					<xsd:enumeration value="86"/>
					<xsd:enumeration value="87"/>
					<xsd:enumeration value="89"/>
					<xsd:enumeration value="90"/>
					<xsd:enumeration value="91"/>
					<xsd:enumeration value="92"/>
					<xsd:enumeration value="103"/>
					<xsd:enumeration value="128"/>
					<xsd:enumeration value="129"/>
					<xsd:enumeration value="144"/>
					<xsd:enumeration value="145"/>
					<xsd:enumeration value="146"/>
					<xsd:enumeration value="147"/>
					<xsd:enumeration value="148"/>
					<xsd:enumeration value="Z01"/>
					<xsd:enumeration value="ZZZ"/>
					<xsd:attribute name="Name" fixed="Partner identification code qualifier" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0007" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0008" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Address for reverse routing</xsd:documentation>
			<xsd:documentation>Address specified by the sender of an interchange to be included by the recipient in the response interchanges to facilitate internal routing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Address for reverse routing" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0008" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S003">
		<xsd:annotation>
			<xsd:documentation>INTERCHANGE RECIPIENT</xsd:documentation>
			<xsd:documentation>Identification of the recipient of the interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0010"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
				<xsd:element ref="Element-0014" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="INTERCHANGE RECIPIENT" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S003" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0010">
		<xsd:annotation>
			<xsd:documentation>Recipient identification</xsd:documentation>
			<xsd:documentation>Name or coded representation of the recipient of a data interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Recipient identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0010" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0014" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Routing address</xsd:documentation>
			<xsd:documentation>Address specified by the recipient of an interchange to be included by the sender and used by the recipient for routing of received interchanges inside his organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Routing address" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0014" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0083">
		<xsd:annotation>
			<xsd:documentation>Action, coded</xsd:documentation>
			<xsd:documentation>A code indicating acknowledgement, or rejection (the action taken) of a subject interchange, or part of the subject interchange.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="8"/>
					<xsd:attribute name="Name" fixed="Action, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0083" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0085" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Syntax error, coded</xsd:documentation>
			<xsd:documentation>A code indicating the syntax error detected.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="12"/>
					<xsd:enumeration value="13"/>
					<xsd:enumeration value="14"/>
					<xsd:enumeration value="15"/>
					<xsd:enumeration value="16"/>
					<xsd:enumeration value="17"/>
					<xsd:enumeration value="18"/>
					<xsd:enumeration value="19"/>
					<xsd:enumeration value="20"/>
					<xsd:enumeration value="21"/>
					<xsd:enumeration value="22"/>
					<xsd:enumeration value="23"/>
					<xsd:enumeration value="24"/>
					<xsd:enumeration value="25"/>
					<xsd:enumeration value="26"/>
					<xsd:enumeration value="27"/>
					<xsd:enumeration value="28"/>
					<xsd:enumeration value="29"/>
					<xsd:enumeration value="30"/>
					<xsd:enumeration value="31"/>
					<xsd:enumeration value="32"/>
					<xsd:enumeration value="33"/>
					<xsd:enumeration value="34"/>
					<xsd:enumeration value="35"/>
					<xsd:enumeration value="36"/>
					<xsd:enumeration value="37"/>
					<xsd:enumeration value="38"/>
					<xsd:enumeration value="39"/>
					<xsd:enumeration value="40"/>
					<xsd:enumeration value="41"/>
					<xsd:enumeration value="42"/>
					<xsd:enumeration value="43"/>
					<xsd:attribute name="Name" fixed="Syntax error, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0085" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0013" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Service segment tag, coded</xsd:documentation>
			<xsd:documentation>Code identifying a segment.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="UCD"/>
					<xsd:enumeration value="UCF"/>
					<xsd:enumeration value="UCI"/>
					<xsd:enumeration value="UCM"/>
					<xsd:enumeration value="UCS"/>
					<xsd:enumeration value="UNA"/>
					<xsd:enumeration value="UNB"/>
					<xsd:enumeration value="UNE"/>
					<xsd:enumeration value="UNG"/>
					<xsd:enumeration value="UNH"/>
					<xsd:enumeration value="UNS"/>
					<xsd:enumeration value="UNT"/>
					<xsd:enumeration value="UNZ"/>
					<xsd:attribute name="Name" fixed="Service segment tag, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0013" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="a" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S011" nillable="true">
		<xsd:annotation>
			<xsd:documentation>DATA ELEMENT IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of the position for an erroneous data element. This can be the position of a simple or composite data element in the definition of a segment or a component data element in the definition a composite data element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0098"/>
				<xsd:element ref="Element-0104" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="DATA ELEMENT IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S011" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0098">
		<xsd:annotation>
			<xsd:documentation>Erroneous data element position in segment</xsd:documentation>
			<xsd:documentation>The numerical count position of the simple or composite data element in error. The segment code and each following simple or composite data element defined in the segment description shall cause the count to be incremented. The segment tag has position number 1.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Erroneous data element position in segment" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0098" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0104" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Erroneous component data element position</xsd:documentation>
			<xsd:documentation>The numerical count position of the component data element in error. Each component data element position defined in the composite data element description shall cause the count to be incremented. The count starts at 1.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Erroneous component data element position" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0104" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCM" minOccurs="1"/>
				<xsd:element ref="Loop-Group_2" minOccurs="0" maxOccurs="999"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 1" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCM">
		<xsd:annotation>
			<xsd:documentation>MESSAGE RESPONSE</xsd:documentation>
			<xsd:documentation>To identify a message in the subject interchange, and to indicate that message's acknowledgement or rejection (action taken), and to identify any error related to the UNH and UNT segments. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0062"/>
				<xsd:element ref="Composite-S009"/>
				<xsd:element ref="Element-0083"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
				<xsd:element ref="Element-0013" minOccurs="0"/>
				<xsd:element ref="Composite-S011" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE RESPONSE" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCM" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_2">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCS" minOccurs="1"/>
				<xsd:element ref="Segment-UCD" minOccurs="0" maxOccurs="99"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 2" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCS">
		<xsd:annotation>
			<xsd:documentation>SEGMENT ERROR INDICATION</xsd:documentation>
			<xsd:documentation>To identify either a segment containing an error or a missing segment, and to identify any error related to the complete segment. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0096"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="SEGMENT ERROR INDICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCS" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0096">
		<xsd:annotation>
			<xsd:documentation>Segment position in message</xsd:documentation>
			<xsd:documentation>The numerical count position of a specific segment that is within the actual received message. The numbering starts with, and includes, the UNH segment as segment number 1. To identify a segment that contains an error, this is the numerical count position of that segment. To report that a segment is missing, this is the numerical count position of the last segment that was processed before the position where the missing segment was expected to be. A missing segment group is denoted by identifying the first  segment in the group as missing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-Decimal-Type">
					<xsd:attribute name="Name" fixed="Segment position in message" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0096" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCD">
		<xsd:annotation>
			<xsd:documentation>DATA ELEMENT ERROR INDICATION</xsd:documentation>
			<xsd:documentation>To identify an erroneous simple, composite or component data element, and to identify the nature of the error. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0085_1"/>
				<xsd:element ref="Composite-S011_1"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="DATA ELEMENT ERROR INDICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCD" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0085_1">
		<xsd:annotation>
			<xsd:documentation>Syntax error, coded</xsd:documentation>
			<xsd:documentation>A code indicating the syntax error detected.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="12"/>
					<xsd:enumeration value="13"/>
					<xsd:enumeration value="14"/>
					<xsd:enumeration value="15"/>
					<xsd:enumeration value="16"/>
					<xsd:enumeration value="17"/>
					<xsd:enumeration value="18"/>
					<xsd:enumeration value="19"/>
					<xsd:enumeration value="20"/>
					<xsd:enumeration value="21"/>
					<xsd:enumeration value="22"/>
					<xsd:enumeration value="23"/>
					<xsd:enumeration value="24"/>
					<xsd:enumeration value="25"/>
					<xsd:enumeration value="26"/>
					<xsd:enumeration value="27"/>
					<xsd:enumeration value="28"/>
					<xsd:enumeration value="29"/>
					<xsd:enumeration value="30"/>
					<xsd:enumeration value="31"/>
					<xsd:enumeration value="32"/>
					<xsd:enumeration value="33"/>
					<xsd:enumeration value="34"/>
					<xsd:enumeration value="35"/>
					<xsd:enumeration value="36"/>
					<xsd:enumeration value="37"/>
					<xsd:enumeration value="38"/>
					<xsd:enumeration value="39"/>
					<xsd:enumeration value="40"/>
					<xsd:enumeration value="41"/>
					<xsd:enumeration value="42"/>
					<xsd:enumeration value="43"/>
					<xsd:attribute name="Name" fixed="Syntax error, coded" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0085" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S011_1">
		<xsd:annotation>
			<xsd:documentation>DATA ELEMENT IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of the position for an erroneous data element. This can be the position of a simple or composite data element in the definition of a segment or a component data element in the definition a composite data element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0098"/>
				<xsd:element ref="Element-0104" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="DATA ELEMENT IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S011" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_3">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCF" minOccurs="1"/>
				<xsd:element ref="Loop-Group_4" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 3" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UCF">
		<xsd:annotation>
			<xsd:documentation>FUNCTIONAL GROUP RESPONSE</xsd:documentation>
			<xsd:documentation>To identify a functional group in the subject interchange and to indicate acknowledgement or rejection (action taken) of the UNG and UNE segments, and to identify any error related to these segments. Depending on the action code, it may also indicate the action taken on the messages within that functional group. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0048"/>
				<xsd:element ref="Composite-S006"/>
				<xsd:element ref="Composite-S007"/>
				<xsd:element ref="Element-0083"/>
				<xsd:element ref="Element-0085" minOccurs="0"/>
				<xsd:element ref="Element-0013" minOccurs="0"/>
				<xsd:element ref="Composite-S011" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="FUNCTIONAL GROUP RESPONSE" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UCF" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0048">
		<xsd:annotation>
			<xsd:documentation>Functional group reference number</xsd:documentation>
			<xsd:documentation>Unique reference number assigned by the sender's division, department etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="14"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Functional group reference number" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0048" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S006">
		<xsd:annotation>
			<xsd:documentation>APPLICATION SENDER'S IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of the sender's division, department etc. from which a group of message is sent.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0040"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="APPLICATION SENDER'S IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S006" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0040">
		<xsd:annotation>
			<xsd:documentation>Sender identification</xsd:documentation>
			<xsd:documentation>Code or name identifying the division, department etc. within the originating sender's organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Sender identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0040" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Composite-S007">
		<xsd:annotation>
			<xsd:documentation>APPLICATION RECIPIENT'S IDENTIFICATION</xsd:documentation>
			<xsd:documentation>Identification of the recipient's division, department etc. for which a group of messages is intended.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0044"/>
				<xsd:element ref="Element-0007" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="APPLICATION RECIPIENT'S IDENTIFICATION" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="S007" type="xsd:string"/>
			<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0044">
		<xsd:annotation>
			<xsd:documentation>Recipient's identification</xsd:documentation>
			<xsd:documentation>Code or name identifying the division, department etc. within the recipient's organization for which the group of messages is intended.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
					<xsd:attribute name="Name" fixed="Recipient's identification" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0044" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="an" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_4">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCM" minOccurs="1"/>
				<xsd:element ref="Loop-Group_5" minOccurs="0" maxOccurs="999"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 4" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Loop-Group_5">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Segment-UCS" minOccurs="1"/>
				<xsd:element ref="Segment-UCD" minOccurs="0" maxOccurs="99"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="Group 5" type="xsd:string"/>
			<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment-UNT">
		<xsd:annotation>
			<xsd:documentation>MESSAGE TRAILER</xsd:documentation>
			<xsd:documentation>To end and check the completeness of a message. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Element-0074"/>
				<xsd:element ref="Element-0062"/>
			</xsd:sequence>
			<xsd:attribute name="Name" fixed="MESSAGE TRAILER" type="xsd:string"/>
			<xsd:attribute name="ID" fixed="UNT" type="xsd:string"/>
			<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Element-0074">
		<xsd:annotation>
			<xsd:documentation>Number of segments in the message</xsd:documentation>
			<xsd:documentation>Control count of number of segments in a message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:restriction base="EDI-Element-String-Type">
					<xsd:attribute name="Name" fixed="Number of segments in the message" type="xsd:string"/>
					<xsd:attribute name="ID" fixed="0074" type="xsd:string"/>
					<xsd:attribute name="EDIDataType" fixed="n" type="xsd:string"/>
				</xsd:restriction>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>