soa-infra_MDS/soa/b2b/seed/TA1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Automatically generated by EDIFECS SpecBuilder (http://www.edifecs.com) -->
<xsd:schema xmlns="urn:oracle:integration:b2b::X12/TA1" targetNamespace="urn:oracle:integration:b2b::X12/TA1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo>
			<FileName>C:\B2BMaterials\TA1\TA1.ecs</FileName>
			<InternalID>{D5728F93-BC06-4A20-ACDA-B46C130FB42A}</InternalID>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="Transaction-TA1" type="Transaction-TA1"/>
	<xsd:complexType name="Transaction-TA1">
		<xsd:sequence>
			<xsd:element name="Internal-Properties" type="Internal-Properties" minOccurs="0"/>
			<xsd:element name="Segment-TA1" type="Segment-TA1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Transaction" type="xsd:string"/>
		<xsd:attribute name="ID" default="TA1" type="xsd:string"/>
		<xsd:attribute name="Name" default="Envelope Segments" type="xsd:string"/>
		<xsd:attribute name="XDataVersion" fixed="2.0" type="xsd:string"/>
		<xsd:attribute name="Standard" fixed="X12" use="required" type="xsd:string"/>
		<xsd:attribute name="Version" default="SERVICE SEGMENTS" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
		<xsd:attribute name="CreatedBy" type="xsd:string"/>
		<xsd:attribute name="CreatedDate" type="xsd:dateTime"/>
	</xsd:complexType>
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EDI-Element-String-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Integer-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Decimal-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-hexBinary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:hexBinary">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-base64Binary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Any-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Internal-Properties">
		<xsd:sequence>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Data-Structure">
		<xsd:sequence>
			<xsd:element name="Lookup" type="Lookup" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
	</xsd:complexType>
	<xsd:complexType name="Lookup">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Property">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Segment-TA1">
		<xsd:annotation>
			<xsd:documentation>To report the status of processing a received interchange header and trailer or the non-delivery by a network provider</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-I12" type="Element-I12"/>
			<xsd:element name="Element-I08" type="Element-I08"/>
			<xsd:element name="Element-I09" type="Element-I09"/>
			<xsd:element name="Element-I17" type="Element-I17"/>
			<xsd:element name="Element-I18" type="Element-I18"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="TA1" type="xsd:string"/>
		<xsd:attribute name="Name" default="Interchange Acknowledgment" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-I12">
		<xsd:annotation>
			<xsd:documentation>A control number assigned by the interchange sender</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="I12" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Interchange Control Number" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-I08">
		<xsd:annotation>
			<xsd:documentation>Date of the interchange</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="6"/>
				<xsd:maxLength value="6"/>
				<xsd:attribute name="EDIDataType" fixed="DT" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="I08" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Interchange Date" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-I09">
		<xsd:annotation>
			<xsd:documentation>Time of the interchange</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="4"/>
				<xsd:maxLength value="4"/>
				<xsd:attribute name="EDIDataType" fixed="TM" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="I09" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Interchange Time" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-I17">
		<xsd:annotation>
			<xsd:documentation>Code indicating the status of the receipt of the interchange control structure</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="R"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="I17" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Interchange Acknowledgment Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-I18">
		<xsd:annotation>
			<xsd:documentation>Code specifying the error found processing the interchange control structure</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="000"/>
				<xsd:enumeration value="001"/>
				<xsd:enumeration value="002"/>
				<xsd:enumeration value="003"/>
				<xsd:enumeration value="004"/>
				<xsd:enumeration value="005"/>
				<xsd:enumeration value="006"/>
				<xsd:enumeration value="007"/>
				<xsd:enumeration value="008"/>
				<xsd:enumeration value="009"/>
				<xsd:enumeration value="010"/>
				<xsd:enumeration value="011"/>
				<xsd:enumeration value="012"/>
				<xsd:enumeration value="013"/>
				<xsd:enumeration value="014"/>
				<xsd:enumeration value="015"/>
				<xsd:enumeration value="016"/>
				<xsd:enumeration value="017"/>
				<xsd:enumeration value="018"/>
				<xsd:enumeration value="019"/>
				<xsd:enumeration value="020"/>
				<xsd:enumeration value="021"/>
				<xsd:enumeration value="022"/>
				<xsd:enumeration value="023"/>
				<xsd:enumeration value="024"/>
				<xsd:enumeration value="025"/>
				<xsd:enumeration value="026"/>
				<xsd:enumeration value="027"/>
				<xsd:enumeration value="028"/>
				<xsd:enumeration value="029"/>
				<xsd:enumeration value="030"/>
				<xsd:enumeration value="031"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="I18" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Interchange Note Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>